*{
    padding: 0; 
    margin: 0; 
    border: 0;
}

*,*:before,*:after{box-sizing: border-box;}

html,body{
    line-height: 1;
    font-size: 16px;
    font-family:'Poppins', sans-serif;
    color: rgba(26, 10, 3, 1);
    scroll-behavior: smooth;
    height: 100%;
}

body._lock{overflow: hidden;}

body._using-mouse :focus{outline: none;}

input, button, textarea, select{font-family: inherit;}

input, input:focus, select{appearance: none;}

button{cursor: pointer;}

a{text-decoration: none;}

.wrapper{
    max-width: 1600px;
    margin: 0px auto;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.content{flex: 1 1 auto;}

.container{
    max-width: 1200px;
    margin: 0px auto;
    padding: 0px 30px;
}